table.project-estimator{
  font-size: 10px;
}
.project-estimator-table-row {
  border-bottom: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
}

.project-estimator-table-row.alt {
  background-color: #F1F1F1;
}

.project-estimator-table-row td{
  text-align: center;
}

.project-estimator-table-row td:first-child{
  text-align: left;
}

.project-estimator-table-top {
  background-color: black;
  color: white;
  text-align: center;
}

.project-estimator-fieldset{
  padding:10px;
}